---
# Filtering Rows
---

## Calculating Boolean statistics
We create a Boolean array by applying a condition to a column of data and then
calculate summary statistics from it

Read in the movie dataset, set the index to the movie title, and inspect the first few
rows of the duration column

In [1]:
import numpy as np
import pandas as pd

In [ ]:
movie = pd.read_csv('movie.csv', index_col='movie_title')
movie[['duration']].sample(n=8, random_state=42)

                               duration
movie_title
The Book Thief                    131.0
The Beyond                         82.0
Clear and Present Danger          141.0
The Ballad of Cable Hogue         121.0
Bobby Jones: Stroke of Genius     128.0
The Jungle Book                   106.0
Malibu's Most Wanted               86.0
The Brain That Sings               62.0

Determine whether the duration of each movie is longer than two hours by using the
greater than comparison operator with the duration column:

In [ ]:
movie_2_hours = movie[['duration']].gt(120)
movie_2_hours

                                            duration
movie_title
Avatar                                          True
Pirates of the Caribbean: At World's End        True
Spectre                                         True
The Dark Knight Rises                           True
Star Wars: Episode VII - The Force Awakens     False
...                                              ...
Signed Sealed Delivered                        False
The Following                                  False
A Plague So Pleasant                           False
Shanghai Calling                               False
My Date with Drew                              False

[4916 rows x 1 columns]

We can now use this Series to determine the number of movies that are longer than
two hours

In [ ]:
movie_2_hours.sum()

duration    1039
dtype: int64

To find the percentage of movies in the dataset longer than two hours, use the `.mean` method

In [ ]:
movie_2_hours.mean().mul(100)

duration    21.135069
dtype: float64

Unfortunately, the output from step 4 is misleading. The duration column has a few missing values. If you look back at the DataFrame output from step 1, you will see that the last row is missing a value for duration. The Boolean condition in step 2 returns False for this. We need to drop the missing values first, then evaluate the condition and take the mean

In [ ]:
movie['duration'].isna().sum()

15

In [ ]:
movie[['duration']].dropna().gt(120).mean().mul(100)

duration    21.199755
dtype: float64

Use the `.describe` method to output summary statistics on the Boolean array

In [ ]:
movie_2_hours.describe()

       duration
count      4916
unique        2
top       False
freq       3877

In [ ]:
movie_2_hours.value_counts(normalize=True)

duration
False       0.788649
True        0.211351
dtype: float64

It is possible to compare two columns from the same DataFrame to produce a Boolean Series.
For instance, we could determine the percentage of movies that have actor 1 with more Facebook likes than actor 2. To do this, we would select both of these columns and then drop any of the rows that had missing values for either movie. Then we would make the comparison and calculate the mean:

In [ ]:
fb_likes = ["actor_1_facebook_likes", "actor_2_facebook_likes"]
actors = movie[fb_likes].dropna()
actors.head()

                                            actor_1_facebook_likes  actor_2_facebook_likes
movie_title
Avatar                                                      1000.0                   936.0
Pirates of the Caribbean: At World's End                   40000.0                  5000.0
Spectre                                                    11000.0                   393.0
The Dark Knight Rises                                      27000.0                 23000.0
Star Wars: Episode VII - The Force Awakens                   131.0                    12.0

In [ ]:
(
    actors['actor_1_facebook_likes'] > actors['actor_2_facebook_likes']
).mean()

0.9777687130328371

In [ ]:
actors['actor_1_facebook_likes'].mean(), actors['actor_2_facebook_likes'].mean()

(6502.41444013869, 1621.9235162145626)

In [ ]:
actors['actor_1_facebook_likes'].mean() / actors['actor_2_facebook_likes'].mean()

4.0090758751157365

## Constructing multiple Boolean conditions
In Python, Boolean expressions use the **built-in** logical operators `and`, `or`, and `not`. These keywords do not work with Boolean indexing in pandas and are respectively replaced with `&`, `|`, and `~`. Additionally, when combining expressions, each expression must be wrapped in parentheses, or an error will be raised (due to operator precedence).

find all the movies that have an *imdb_score* greater
than **8**, a *content_rating* of **PG-13**, and a *title_year* either before **2000** or after **2009**.

In [ ]:
df = movie[['title_year', 'content_rating', 'imdb_score']]
df.head(2)

                                          title_year content_rating  imdb_score
movie_title
Avatar                                        2009.0          PG-13         7.9
Pirates of the Caribbean: At World's End      2007.0          PG-13         7.1

In [ ]:
mask = (
    (df.title_year < 2000) | (df.title_year > 2009) & 
    (df.content_rating == 'PG-13') & 
    (df.imdb_score > 8)
)
mask

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
                                              ...
Signed Sealed Delivered                       False
The Following                                 False
A Plague So Pleasant                          False
Shanghai Calling                              False
My Date with Drew                             False
Length: 4916, dtype: bool

In [ ]:
df[mask]

                            title_year content_rating  imdb_score
movie_title
The Dark Knight Rises           2012.0          PG-13         8.5
The Avengers                    2012.0          PG-13         8.1
Titanic                         1997.0          PG-13         7.7
Captain America: Civil War      2016.0          PG-13         8.2
Wild Wild West                  1999.0          PG-13         4.8
...                                ...            ...         ...
Slacker                         1991.0              R         7.1
Pink Flamingos                  1972.0          NC-17         6.1
The Cure                        1997.0            NaN         7.4
Bang                            1995.0            NaN         6.4
El Mariachi                     1992.0              R         6.9

[1325 rows x 3 columns]

## Filtering with boolean arrays
Both Series and DataFrame can be filtered with Boolean arrays. You can index this directly off of the object or off of the `.loc` attribute.

constructs two complex filters for different rows of movies. The first filters movies with an *imdb_score* greater than **8**, a *content_rating* of **PG-13**, and a *title_year* either before 2000 or after **2009**. The second filter consists of those with an *imdb_score*
less than **5**, a *content_rating* of **R**, and a *title_year* between **2000** and **2010**. Finally, we will combine these filters.

In [ ]:
mask1 = (
    (df.title_year < 2000) | (df.title_year > 2009) & 
    (df.content_rating == 'PG-13') & 
    (df.imdb_score > 8)
)
mask1

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
                                              ...
Signed Sealed Delivered                       False
The Following                                 False
A Plague So Pleasant                          False
Shanghai Calling                              False
My Date with Drew                             False
Length: 4916, dtype: bool

In [ ]:
mask2 = (
    (df.imdb_score < 5) &
    (df.content_rating == 'R') &
    (df.title_year >= 2000) &
    (df.title_year <= 2010)   
)
mask2

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                         False
Star Wars: Episode VII - The Force Awakens    False
                                              ...
Signed Sealed Delivered                       False
The Following                                 False
A Plague So Pleasant                          False
Shanghai Calling                              False
My Date with Drew                             False
Length: 4916, dtype: bool

Combine the two sets of criteria using the pandas or operator. This yields a Boolean
array of all movies that are members of either set

In [ ]:
mask = (mask1 | mask2)
mask

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
                                              ...
Signed Sealed Delivered                       False
The Following                                 False
A Plague So Pleasant                          False
Shanghai Calling                              False
My Date with Drew                             False
Length: 4916, dtype: bool

 Pass the Boolean array to the index operator to filter the data

In [ ]:
movie[mask].head()

                            color  ... movie_facebook_likes
movie_title                        ...
The Dark Knight Rises       Color  ...               164000
The Avengers                Color  ...               123000
Titanic                     Color  ...                26000
Captain America: Civil War  Color  ...                72000
Wild Wild West              Color  ...                    0

[5 rows x 27 columns]

We can also filter off of the `.loc` attribute

In [ ]:
movie.loc[mask]

                                      color  ... movie_facebook_likes
movie_title                                  ...
The Dark Knight Rises                 Color  ...               164000
The Avengers                          Color  ...               123000
Titanic                               Color  ...                26000
Captain America: Civil War            Color  ...                72000
Wild Wild West                        Color  ...                    0
...                                     ...  ...                  ...
Slacker                     Black and White  ...                 2000
Pink Flamingos                        Color  ...                    0
The Cure                              Color  ...                  817
Bang                                  Color  ...                   20
El Mariachi                           Color  ...                    0

[1388 rows x 27 columns]

In [ ]:
df[mask]

                            title_year content_rating  imdb_score
movie_title
The Dark Knight Rises           2012.0          PG-13         8.5
The Avengers                    2012.0          PG-13         8.1
Titanic                         1997.0          PG-13         7.7
Captain America: Civil War      2016.0          PG-13         8.2
Wild Wild West                  1999.0          PG-13         4.8
...                                ...            ...         ...
Slacker                         1991.0              R         7.1
Pink Flamingos                  1972.0          NC-17         6.1
The Cure                        1997.0            NaN         7.4
Bang                            1995.0            NaN         6.4
El Mariachi                     1992.0              R         6.9

[1388 rows x 3 columns]

The `.iloc` attribute does not support Boolean arrays! If you pass in a Boolean Series to it, an exception will get raised. However, it does work with NumPy arrays, so if you call the `.to_numpy()` method, you can filter with it

In [ ]:
df.iloc[mask.to_numpy()]

                            title_year content_rating  imdb_score
movie_title
The Dark Knight Rises           2012.0          PG-13         8.5
The Avengers                    2012.0          PG-13         8.1
Titanic                         1997.0          PG-13         7.7
Captain America: Civil War      2016.0          PG-13         8.2
Wild Wild West                  1999.0          PG-13         4.8
...                                ...            ...         ...
Slacker                         1991.0              R         7.1
Pink Flamingos                  1972.0          NC-17         6.1
The Cure                        1997.0            NaN         7.4
Bang                            1995.0            NaN         6.4
El Mariachi                     1992.0              R         6.9

[1388 rows x 3 columns]

## Comparing Row Filtering and Index Filtering
It is possible to replicate specific cases of Boolean selection by taking advantage of the index.
Use the college dataset to select all institutions from a particular state with both Boolean indexing and index selection and then compare each of their performances against one another. Column filtering is more powerful as you can use other logical operators and filter on multiple columns.

Read in the college dataset and use Boolean indexing to select all institutions from
the state of Texas (TX):

In [ ]:
college = pd.read_csv('college.csv')
college.head(2)

                                INSTNM  ... GRAD_DEBT_MDN_SUPP
0             Alabama A & M University  ...              33888
1  University of Alabama at Birmingham  ...            21941.5

[2 rows x 27 columns]

In [ ]:
college[college.STABBR == 'TX'].head()

                            INSTNM  ... GRAD_DEBT_MDN_SUPP
3610  Abilene Christian University  ...              25985
3611       Alvin Community College  ...               6750
3612              Amarillo College  ...              10950
3613              Angelina College  ...  PrivacySuppressed
3614       Angelo State University  ...            21319.5

[5 rows x 27 columns]

To repeat this using index selection, move the STABBR column into the index. We can
then use label-based selection with the `.loc` indexer

In [ ]:
college2 = college.set_index('STABBR')
college2.head(2)

                                     INSTNM  ... GRAD_DEBT_MDN_SUPP
STABBR                                       ...
AL                 Alabama A & M University  ...              33888
AL      University of Alabama at Birmingham  ...            21941.5

[2 rows x 26 columns]

In [ ]:
college2.loc['TX'].head()

                              INSTNM  ... GRAD_DEBT_MDN_SUPP
STABBR                                ...
TX      Abilene Christian University  ...              25985
TX           Alvin Community College  ...               6750
TX                  Amarillo College  ...              10950
TX                  Angelina College  ...  PrivacySuppressed
TX           Angelo State University  ...            21319.5

[5 rows x 26 columns]

Let's compare the speed of both methods:

In [ ]:
%timeit college[college.STABBR== 'TX']

1000 loops, best of 5: 1 ms per loop

In [ ]:
%timeit college2.loc['TX']

The slowest run took 4.16 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 495 µs per loop

Boolean indexing takes two times as long as index selection. As setting the index does not come for free, let's time that operation as well:

In [ ]:
%timeit college2 = college.set_index('STABBR')

1000 loops, best of 5: 1.42 ms per loop

Let's select Texas (TX), California (CA), and New York (NY). With Boolean
selection, you can use the `.isin` method, but with indexing, just pass a list to `.loc`:

In [ ]:
states = ['TX', 'CA', 'NY']
college[college.STABBR.isin(states)].head()

                                             INSTNM  ... GRAD_DEBT_MDN_SUPP
192                       Academy of Art University  ...              35093
193          ITT Technical Institute-Rancho Cordova  ...            25827.5
194  Academy of Chinese Culture and Health Sciences  ...  PrivacySuppressed
195        The Academy of Radio and TV Broadcasting  ...               9500
196            Avalon School of Cosmetology-Alameda  ...               9860

[5 rows x 27 columns]

In [ ]:
college2.loc[states].head(2)

                              INSTNM  ... GRAD_DEBT_MDN_SUPP
STABBR                                ...
TX      Abilene Christian University  ...              25985
TX           Alvin Community College  ...               6750

[2 rows x 26 columns]

## Selecting with unique and sorted indexes

In [ ]:
college2.index.is_monotonic

False

In [ ]:
college3 = college2.sort_index()

In [ ]:
%timeit college[college.STABBR == 'TX']

1000 loops, best of 5: 982 µs per loop

In [ ]:
%timeit college2.loc['TX']

The slowest run took 4.34 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 494 µs per loop

In [ ]:
%timeit college3.loc['TX']

The slowest run took 20.13 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 5: 71.2 µs per loop

 Let's now turn toward unique indexes. For this, we use the institution name
as the index:

In [ ]:
college_unique = college.set_index('INSTNM')
college_unique.index.is_unique

True

Let's select Stanford University with Boolean indexing. Note that this returns a
DataFrame

In [ ]:
college[college.INSTNM == 'Stanford University']

                   INSTNM      CITY  ... MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
4217  Stanford University  Stanford  ...           86000               12782

[1 rows x 27 columns]

Let's select Stanford University with index selection. Note that this returns a Series:

In [ ]:
college_unique.loc['Stanford University']

CITY                  Stanford
STABBR                      CA
HBCU                         0
MENONLY                      0
WOMENONLY                    0
RELAFFIL                     0
SATVRMID                   730
SATMTMID                   745
DISTANCEONLY                 0
UGDS                      7018
UGDS_WHITE              0.3752
UGDS_BLACK              0.0591
UGDS_HISP               0.1607
UGDS_ASIAN              0.1979
UGDS_AIAN               0.0114
UGDS_NHPI               0.0038
UGDS_2MOR               0.1067
UGDS_NRA                0.0819
UGDS_UNKN               0.0031
PPTUG_EF                     0
CURROPER                     1
PCTPELL                 0.1556
PCTFLOAN                0.1256
UG25ABV                 0.0401
MD_EARN_WNE_P10          86000
GRAD_DEBT_MDN_SUPP       12782
Name: Stanford University, dtype: object

If we want a DataFrame rather than a Series, we need to pass in a list of index values
into `.loc`

In [ ]:
college_unique.loc[['Stanford University']]

                         CITY STABBR  ...  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
INSTNM                                ...
Stanford University  Stanford     CA  ...            86000               12782

[1 rows x 26 columns]

 Let's time each
approach

In [ ]:
%timeit college[college['INSTNM'] == 'Stanford University']

The slowest run took 5.58 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 868 µs per loop

In [ ]:
%timeit college_unique.loc[['Stanford University']]

1000 loops, best of 5: 452 µs per loop

x. It is possible
to concatenate multiple columns together to form an index. For instance, in the following
code, we set the index equal to the concatenation of the city and state columns

In [ ]:
college.index = college["CITY"] + ", " + college["STABBR"]
college = college.sort_index()
college.head(3)

                                 INSTNM  ... GRAD_DEBT_MDN_SUPP
ARTESIA, CA           Angeles Institute  ...              16850
Aberdeen, SD       Presentation College  ...              25000
Aberdeen, SD  Northern State University  ...              24847

[3 rows x 27 columns]

From here, we can select all colleges from a particular city and state combination without
Boolean indexing. Let's select all colleges from Miami, FL

In [ ]:
college.loc['Miami, FL'].head()

                                              INSTNM  ... GRAD_DEBT_MDN_SUPP
Miami, FL        New Professions Technical Institute  ...               8682
Miami, FL               Management Resources College  ...              12182
Miami, FL                   Strayer University-Doral  ...            36173.5
Miami, FL                   Keiser University- Miami  ...              26063
Miami, FL  George T Baker Aviation Technical College  ...  PrivacySuppressed

[5 rows x 27 columns]

## Translating SQL WHERE clauses

In [2]:
employee = pd.read_csv('./employee.csv')
employee.sample(n=8, random_state=42)

      UNIQUE_ID         POSITION_TITLE  ...   HIRE_DATE    JOB_DATE
1860       1860  SENIOR POLICE OFFICER  ...  1984-11-26  2002-01-05
353         353  SENIOR POLICE OFFICER  ...  1996-07-29  2009-05-30
1333       1333              INSPECTOR  ...  2014-09-15  2014-09-15
905         905         POLICE CAPTAIN  ...  1977-12-19  1992-05-09
1289       1289         UTILITY WORKER  ...  1996-02-05  2004-08-21
1273       1273              INSPECTOR  ...  2013-04-15  2013-04-15
938         938           FIRE FIGHTER  ...  2014-06-21  2015-09-21
1731       1731   FIRE FIGHTER TRAINEE  ...  2016-03-28  2016-03-28

[8 rows x 10 columns]

In [3]:
employee.shape

(2000, 10)

In [5]:
employee.describe(include='object').T

                  count unique                            top  freq
POSITION_TITLE     2000    330          SENIOR POLICE OFFICER   220
DEPARTMENT         2000     24  Houston Police Department-HPD   638
RACE               1965      6      Black or African American   700
EMPLOYMENT_TYPE    2000      5                      Full Time  1954
GENDER             2000      2                           Male  1397
EMPLOYMENT_STATUS  2000      2                         Active  1991
HIRE_DATE          2000    999                     2016-03-28    11
JOB_DATE           1997    947                     2002-01-05    34

In [6]:
employee.dtypes

UNIQUE_ID              int64
POSITION_TITLE        object
DEPARTMENT            object
BASE_SALARY          float64
RACE                  object
EMPLOYMENT_TYPE       object
GENDER                object
EMPLOYMENT_STATUS     object
HIRE_DATE             object
JOB_DATE              object
dtype: object

In [9]:
employee.select_dtypes(include='object').value_counts().head()

POSITION_TITLE               DEPARTMENT                     RACE                       EMPLOYMENT_TYPE  GENDER  EMPLOYMENT_STATUS  HIRE_DATE   JOB_DATE
POLICE OFFICER               Houston Police Department-HPD  Hispanic/Latino            Full Time        Male    Active             2013-02-04  2014-02-04    6
                                                            White                      Full Time        Male    Active             2009-03-09  2010-03-09    4
FIRE FIGHTER                 Houston Fire Department (HFD)  Hispanic/Latino            Full Time        Male    Active             2014-06-21  2015-09-21    4
POLICE OFFICER               Houston Police Department-HPD  Black or African American  Full Time        Male    Active             2011-05-23  2012-05-23    4
POLICE OFFICER,PROBATIONARY  Houston Police Department-HPD  Black or African American  Full Time        Male    Active             2015-07-06  2016-01-21    3
dtype: int64

In [10]:
employee.DEPARTMENT.value_counts()

Houston Police Department-HPD     638
Houston Fire Department (HFD)     384
Public Works & Engineering-PWE    343
Health & Human Services           110
Houston Airport System (HAS)      106
Parks & Recreation                 74
Solid Waste Management             43
Library                            36
Fleet Management Department        36
Admn. & Regulatory Affairs         29
Municipal Courts Department        28
Human Resources Dept.              24
Houston Emergency Center (HEC)     23
Housing and Community Devp.        22
General Services Department        22
Dept of Neighborhoods (DON)        17
Legal Department                   17
City Council                       11
Finance                            10
Houston Information Tech Svcs       9
Planning & Development              7
Mayor's Office                      5
City Controller's Office            5
Convention and Entertainment        1
Name: DEPARTMENT, dtype: int64

In [12]:
employee.GENDER.value_counts(normalize=True)

Male      0.6985
Female    0.3015
Name: GENDER, dtype: float64

In [14]:
employee.BASE_SALARY.describe()

count      1886.000000
mean      55767.931601
std       21693.706679
min       24960.000000
25%       40170.000000
50%       54461.000000
75%       66614.000000
max      275000.000000
Name: BASE_SALARY, dtype: float64

In [18]:
employee.BASE_SALARY.isna().mean() * 100.

5.7

In [22]:
depts = ["Houston Police Department-HPD", "Houston Fire Department (HFD)",]

mask = (
    (employee.DEPARTMENT.isin(depts)) &
    (employee.GENDER == 'Female') &
    (employee.BASE_SALARY >= 80000) &
    (employee.BASE_SALARY <= 120000)
)

In [23]:
select_columns = ["UNIQUE_ID", "DEPARTMENT", "GENDER", "BASE_SALARY",]

employee.loc[mask, select_columns]

      UNIQUE_ID                     DEPARTMENT  GENDER  BASE_SALARY
61           61  Houston Fire Department (HFD)  Female      96668.0
136         136  Houston Police Department-HPD  Female      81239.0
367         367  Houston Police Department-HPD  Female      86534.0
474         474  Houston Police Department-HPD  Female      91181.0
513         513  Houston Police Department-HPD  Female      81239.0
564         564  Houston Police Department-HPD  Female      81239.0
595         595  Houston Police Department-HPD  Female      99953.0
937         937  Houston Police Department-HPD  Female      81239.0
954         954  Houston Police Department-HPD  Female      91181.0
1118       1118  Houston Police Department-HPD  Female     104455.0
1519       1519  Houston Police Department-HPD  Female      91181.0
1565       1565  Houston Police Department-HPD  Female      81239.0
1622       1622  Houston Police Department-HPD  Female      91181.0

In [24]:
top_5_depts = employee.DEPARTMENT.value_counts().index[:5]
criteria = ~employee.DEPARTMENT.isin(top_5_depts)
employee[criteria]

      UNIQUE_ID                     POSITION_TITLE  ...   HIRE_DATE    JOB_DATE
0             0        ASSISTANT DIRECTOR (EX LVL)  ...  2006-06-12  2012-10-13
1             1                  LIBRARY ASSISTANT  ...  2000-07-19  2010-09-18
4             4                        ELECTRICIAN  ...  1989-06-19  1994-10-22
18           18           MAINTENANCE MECHANIC III  ...  2008-12-29  2008-12-29
32           32                  SENIOR ACCOUNTANT  ...  1991-02-11  2016-02-13
...         ...                                ...  ...         ...         ...
1976       1976         SENIOR SIDELOADER OPERATOR  ...  2015-07-20  2016-01-30
1983       1983          ADMINISTRATIVE SPECIALIST  ...  2006-10-16  2006-10-16
1985       1985                       TRUCK DRIVER  ...  2013-06-10  2015-08-01
1988       1988  SENIOR ASSISTANT CITY ATTORNEY II  ...  2013-01-23  2013-03-02
1990       1990    BUILDING MAINTENANCE SUPERVISOR  ...  1995-10-14  2010-03-20

[419 rows x 10 columns]