# Imbalanced Data

In [1]:
# https://www.openml.org/d/1220
# https://www.openml.org/d/1241
# https://www.openml.org/d/37
# https://www.openml.org/d/44

from sklearn.datasets import fetch_openml

data = fetch_openml(data_id=1220)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [3]:
df = pd.DataFrame(
    data['data'],
    columns=data['feature_names']
).astype(float)

df['target'] = pd.Series(data['target']).astype(int)

In [4]:
df.sample(n=5)

,impression,ad_id,advertiser_id,depth,position,keyword_id,title_id,description_id,user_id,target
7245,1.0,21193219.0,35900.0,3.0,1.0,5.0,148.0,195.0,5003639.0,0
16040,1.0,21818926.0,37716.0,1.0,1.0,5846.0,33576.0,26849.0,1338874.0,0
35455,1.0,20192676.0,27961.0,1.0,1.0,39.0,131.0,440.0,2405920.0,0
16429,1.0,20001249.0,1381.0,2.0,2.0,361.0,5581.0,5890.0,0.0,0
35609,1.0,4241447.0,18226.0,2.0,2.0,8248.0,245292.0,213698.0,11225727.0,0

In [5]:
df.target.value_counts(normalize=True)

0    0.831581
1    0.168419
Name: target, dtype: float64

In [6]:
df.shape

(39948, 10)

In [11]:
for feature in df.columns[:-1].tolist():
  print(f'Cardinality of {feature}: {df[feature].value_counts().shape[0]:,}')

Cardinality of impression: 99
Cardinality of ad_id: 19,228
Cardinality of advertiser_id: 6,064
Cardinality of depth: 3
Cardinality of position: 3
Cardinality of keyword_id: 19,803
Cardinality of title_id: 25,321
Cardinality of description_id: 22,381
Cardinality of user_id: 30,114