---
# Creating and Persisting DataFrames
---

In [1]:
import numpy as np
import pandas as pd

Create parallel lists with data in them. Each of these lists will be a column in the
DataFrame, so they should have the same type

In [2]:
fname = ["Paul", "John", "Richard", "George"]
lname = ["McCartney", "Lennon", "Starkey", "Harrison"]
birth = [1942, 1940, 1940, 1943]

Create a dictionary from the lists, mapping the column name to the list:

In [3]:
people = dict(first=fname, last=lname, birth=birth)

Create a DataFrame from the dictionary

In [4]:
beatles = pd.DataFrame(people)

In [5]:
beatles

     first       last  birth
0     Paul  McCartney   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

In [ ]:
beatles.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# change index
pd.DataFrame(data=people, index=list('abcd'))

     first       last  birth
a     Paul  McCartney   1942
b     John     Lennon   1940
c  Richard    Starkey   1940
d   George   Harrison   1943

## Writing CSV

Write the DataFrame to a CSV file:

In [ ]:
beatles

     first       last  birth
0     Paul  McCartney   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

In [6]:
 from io import StringIO

In [7]:
beatles_file = StringIO()
beatles.to_csv(beatles_file)

Look at the file contents:

In [8]:
print(beatles_file.getvalue())

,first,last,birth
0,Paul,McCartney,1942
1,John,Lennon,1940
2,Richard,Starkey,1940
3,George,Harrison,1943

In [9]:
_ = beatles_file.seek(0)
pd.read_csv(beatles_file)

   Unnamed: 0    first       last  birth
0           0     Paul  McCartney   1942
1           1     John     Lennon   1940
2           2  Richard    Starkey   1940
3           3   George   Harrison   1943

The `read_csv` function has an `index_col` parameter that you can use to specify the
location of the index:

In [10]:
_ = beatles_file.seek(0)
pd.read_csv(beatles_file, index_col=0)

     first       last  birth
0     Paul  McCartney   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

Alternatively, if we didn't want to include the index when writing the CSV file, we can set the
index parameter to `False`:

In [11]:
beatles_file = StringIO()
beatles.to_csv(beatles_file, index=False)

In [12]:
_ = beatles_file.seek(0)
pd.read_csv(beatles_file)

     first       last  birth
0     Paul  McCartney   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

## Reading large CSV files

The pandas library is an in-memory tool. You need to be able to fit your data in memory to use pandas with it. If you come across a large CSV file that you want to process, you have a few options. If you can process portions of it at a time, you can read it into chunks and process each chunk. Alternatively, if you know that you should have enough memory to load the file, there are a few hints to help pare down the file size.  
Note that in general, you should have three to ten times the amount of memory as the size of the DataFrame that you want to manipulate.  Extra memory should give you enough extra space to perform many of the common operations.

In [ ]:
diamonds = pd.read_csv('./diamonds.csv', nrows=1000)
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

`.info` method to see how much memory the sample of data uses

In [ ]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float64
 1   cut      1000 non-null   object
 2   color    1000 non-null   object
 3   clarity  1000 non-null   object
 4   depth    1000 non-null   float64
 5   table    1000 non-null   float64
 6   price    1000 non-null   int64
 7   x        1000 non-null   float64
 8   y        1000 non-null   float64
 9   z        1000 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 78.2+ KB

Use the `dtype` parameter to `read_csv` to tell it to use the correct (or smaller) numeric types

In [ ]:
diamonds2 = pd.read_csv('./diamonds.csv', nrows=1000, dtype={
    'carat': np.float32,
    'depth': np.float32,
    'table': np.float32,
    "x": np.float32,
    "y": np.float32,
    "z": np.float32,
    "price": np.int16,
})

diamonds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float32
 1   cut      1000 non-null   object
 2   color    1000 non-null   object
 3   clarity  1000 non-null   object
 4   depth    1000 non-null   float32
 5   table    1000 non-null   float32
 6   price    1000 non-null   int16
 7   x        1000 non-null   float32
 8   y        1000 non-null   float32
 9   z        1000 non-null   float32
dtypes: float32(6), int16(1), object(3)
memory usage: 49.0+ KB

Make sure that summary statistics are similar with our new dataset to the original

In [ ]:
diamonds.describe().equals(diamonds2.describe())

False

In [ ]:
diamonds.describe().T

        count        mean         std  ...      50%      75%      max
carat  1000.0     0.68928    0.195291  ...     0.71     0.79     1.27
depth  1000.0    61.72280    1.758879  ...    61.80    62.60    69.50
table  1000.0    57.73470    2.467946  ...    57.00    59.00    70.00
price  1000.0  2476.54000  839.575620  ...  2818.00  2856.00  2898.00
x      1000.0     5.60594    0.625173  ...     5.77     5.92     7.12
y      1000.0     5.59918    0.611974  ...     5.76     5.91     7.05
z      1000.0     3.45753    0.389819  ...     3.55     3.64     4.33

[7 rows x 8 columns]

In [ ]:
diamonds2.describe().T

        count         mean         std  ...          50%          75%      max
carat  1000.0     0.689281    0.195291  ...     0.710000     0.790000     1.27
depth  1000.0    61.722824    1.758878  ...    61.799999    62.599998    69.50
table  1000.0    57.734699    2.467944  ...    57.000000    59.000000    70.00
price  1000.0  2476.540000  839.575620  ...  2818.000000  2856.000000  2898.00
x      1000.0     5.605941    0.625173  ...     5.770000     5.920000     7.12
y      1000.0     5.599180    0.611972  ...     5.760000     5.910000     7.05
z      1000.0     3.457533    0.389819  ...     3.550000     3.640000     4.33

[7 rows x 8 columns]

Use the `dtype` parameter to use change object types to categoricals. First, inspect the `.value_counts` method of the object columns. If they are low cardinality, you can convert them to categorical columns to save even more memory

In [ ]:
diamonds2.select_dtypes(include='object').columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [ ]:
diamonds2.cut.value_counts()

Ideal        333
Premium      290
Very Good    226
Good          89
Fair          62
Name: cut, dtype: int64

In [ ]:
diamonds2.color.value_counts()

E    240
F    226
G    139
D    129
H    125
I     95
J     46
Name: color, dtype: int64

In [ ]:
diamonds2.clarity.value_counts()

SI1     306
VS2     218
VS1     159
SI2     154
VVS2     62
VVS1     58
I1       29
IF       14
Name: clarity, dtype: int64

Because these are of low cardinality, we can convert them to categoricals and use
around 37% of the original size

In [ ]:
diamonds3 = pd.read_csv('./diamonds.csv', nrows=1000,
                        dtype={
                                'carat': np.float32,
                                'depth': np.float32,
                                'table': np.float32,
                                "x": np.float32,
                                "y": np.float32,
                                "z": np.float32,
                                "price": np.int16,
                               "cut": "category",
                               "color": "category",
                               "clarity": "category",
                              },
                        )
diamonds3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float32
 1   cut      1000 non-null   category
 2   color    1000 non-null   category
 3   clarity  1000 non-null   category
 4   depth    1000 non-null   float32
 5   table    1000 non-null   float32
 6   price    1000 non-null   int16
 7   x        1000 non-null   float32
 8   y        1000 non-null   float32
 9   z        1000 non-null   float32
dtypes: category(3), float32(6), int16(1)
memory usage: 29.4 KB

If there are columns that we know we can ignore, we can use the usecols
parameter to specify the columns we want to load. Here, we will ignore columns x, y,
and z:

In [ ]:
cols = ['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price']
diamonds4 = pd.read_csv('./diamonds.csv', nrows=1000,
                        dtype={
                                'carat': np.float32,
                                'depth': np.float32,
                                'table': np.float32,
                                "x": np.float32,
                                "y": np.float32,
                                "z": np.float32,
                                "price": np.int16,
                               "cut": "category",
                               "color": "category",
                               "clarity": "category",
                              },
                        usecols=cols,
                        )
diamonds4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float32
 1   cut      1000 non-null   category
 2   color    1000 non-null   category
 3   clarity  1000 non-null   category
 4   depth    1000 non-null   float32
 5   table    1000 non-null   float32
 6   price    1000 non-null   int16
dtypes: category(3), float32(3), int16(1)
memory usage: 17.7 KB

If the preceding steps are not sufficient to create a small enough DataFrame, you might still be in luck. If you can process chunks of the data at a time and do not need all of it in memory, you can use the `chunksize` parameter

In [ ]:
diamonds_iter = pd.read_csv('./diamonds.csv', nrows=1000,
                        dtype={
                                'carat': np.float32,
                                'depth': np.float32,
                                'table': np.float32,
                                "x": np.float32,
                                "y": np.float32,
                                "z": np.float32,
                                "price": np.int16,
                               "cut": "category",
                               "color": "category",
                               "clarity": "category",
                              },
                        usecols=cols,
                        chunksize=200,
                        )

In [ ]:
def process(df):
  return (
      f"proceed {df.size} items"
  )

In [ ]:
for chunk in diamonds_iter:
  process(chunk)

In [ ]:
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [ ]:
np.finfo(np.float16)

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [ ]:
diamonds.price.memory_usage()

8128

In [ ]:
diamonds.price.memory_usage(index=False)

8000

In [ ]:
diamonds.cut.memory_usage()

8128

In [ ]:
diamonds.cut.memory_usage(deep=True)

63461

In [ ]:
diamonds4.to_feather('/tmp/d.arr')

In [ ]:
diamonds5 = pd.read_feather('/tmp/d.arr')

In [ ]:
diamonds4.to_parquet('/tmp/d.pqt')

In [ ]:
diamonds4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float32
 1   cut      1000 non-null   category
 2   color    1000 non-null   category
 3   clarity  1000 non-null   category
 4   depth    1000 non-null   float32
 5   table    1000 non-null   float32
 6   price    1000 non-null   int16
dtypes: category(3), float32(3), int16(1)
memory usage: 17.7 KB

## Using Excel files

May need to install `xlwt` or `openpyxl` to write XLS or XLSX files, respectively

Create an Excel file using the `.to_excel` method

In [13]:
beatles.to_excel('beat.xls')

In [14]:
beatles.to_excel('beat.xlsx')

Read the Excel file with the `read_excel` function

In [16]:
beat2 = pd.read_excel('beat.xls', index_col=0)
beat2

     first       last  birth
0     Paul  McCartney   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

Inspect data types of the file to check that Excel preserved the types:

In [17]:
beat2.dtypes

first    object
last     object
birth     int64
dtype: object

In [29]:
beat2['first'] = beat2['first'].astype('category')

In [30]:
beat2.dtypes

first    category
last       object
birth       int64
dtype: object

We can use pandas to write to a sheet of a spreadsheet. You can pass a sheet_name
parameter to the `.to_excel` method to tell it the name of the sheet to create

In [33]:
xl_writer = pd.ExcelWriter('beat2.xlsx')
beatles.to_excel(xl_writer, sheet_name='All')
beatles[beatles.birth <= 1942].to_excel(xl_writer, sheet_name='1940')
xl_writer.save

## Working with ZIP files

If the CSV file is the only file in the ZIP file, you can just call the `read_csv` function on
it:

In [35]:
autos = pd.read_csv('./vehicles.csv.zip')
autos.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
0  15.695714         0.0        0.0  ...         0        0         0
1  29.964545         0.0        0.0  ...         0        0         0
2  12.207778         0.0        0.0  ...         0        0         0
3  29.964545         0.0        0.0  ...         0        0         0
4  17.347895         0.0        0.0  ...         0        0         0

[5 rows x 83 columns]

In [36]:
autos.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [37]:
autos.modifiedOn.dtype

dtype('O')

One thing to be aware of is that if you have date columns in the CSV file, they will be left as strings. You have two options to convert them. You can use the `parse_dates` parameter from `read_csv` and convert them when loading the file. Alternatively, you
can use the more powerful `to_datetime` function after loading

In [38]:
autos.modifiedOn.head()

0    Tue Jan 01 00:00:00 EST 2013
1    Tue Jan 01 00:00:00 EST 2013
2    Tue Jan 01 00:00:00 EST 2013
3    Tue Jan 01 00:00:00 EST 2013
4    Tue Jan 01 00:00:00 EST 2013
Name: modifiedOn, dtype: object

In [39]:
pd.to_datetime(autos.modifiedOn)

/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

0       2013-01-01
1       2013-01-01
2       2013-01-01
3       2013-01-01
4       2013-01-01
           ...
39096   2013-01-01
39097   2013-01-01
39098   2013-01-01
39099   2013-01-01
39100   2013-01-01
Name: modifiedOn, Length: 39101, dtype: datetime64[ns]

Convertion during load time

In [40]:
autos = pd.read_csv('./vehicles.csv.zip', parse_dates=['modifiedOn'])
autos.modifiedOn.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

0   2013-01-01
1   2013-01-01
2   2013-01-01
3   2013-01-01
4   2013-01-01
Name: modifiedOn, dtype: datetime64[ns]

If the ZIP file has many files in it, reading a CSV file from it is a little more involved.
The `read_csv` function does not have the ability to specify a file inside a ZIP file.
Instead, we will use the `zipfile` module from the Python standard library.

In [41]:
import zipfile

In [44]:
with zipfile.ZipFile('kaggle-survey-2018.zip') as z:
  print('\n'.join(z.namelist()))
  kag = pd.read_csv(z.open('multipleChoiceResponses.csv'))
  kag_questions = kag.iloc[0]
  survey = kag.iloc[1:]

multipleChoiceResponses.csv
freeFormResponses.csv
SurveySchema.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,8,10,21,23,24,25,26,27,28,44,56,64,83,85,87,107,109,123,125,150,157,172,174,194,210,218,219,223,246,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
kag_questions.head()

Time from Start to Finish (seconds)                                Duration (in seconds)
Q1                                                What is your gender? - Selected Choice
Q1_OTHER_TEXT                          What is your gender? - Prefer to self-describe...
Q2                                                           What is your age (# years)?
Q3                                             In which country do you currently reside?
Name: 0, dtype: object

In [46]:
survey.head()

  Time from Start to Finish (seconds)      Q1  ... Q50_Part_8 Q50_OTHER_TEXT
1                                 710  Female  ...        NaN             -1
2                                 434    Male  ...        NaN             -1
3                                 718  Female  ...        NaN             -1
4                                 621    Male  ...        NaN             -1
5                                 731    Male  ...        NaN             -1

[5 rows x 395 columns]

In [47]:
survey.head(2).T

                                                            1          2
Time from Start to Finish (seconds)                       710        434
Q1                                                     Female       Male
Q1_OTHER_TEXT                                              -1         -1
Q2                                                      45-49      30-34
Q3                                   United States of America  Indonesia
...                                                       ...        ...
Q50_Part_5                                                NaN        NaN
Q50_Part_6                                                NaN        NaN
Q50_Part_7                                                NaN        NaN
Q50_Part_8                                                NaN        NaN
Q50_OTHER_TEXT                                             -1         -1

[395 rows x 2 columns]

the zipfile module will not work with URLs (unlike the `read_csv` function). So, if
your ZIP file is in a URL, you will need to download it first.  
The `read_csv` function will work with other compression types as well. If you have GZIP, BZ2,
or XZ files, pandas can handle those as long as they are just compressing a CSV file and not
a directory

## Reading JSON

In [48]:
import json

In [49]:
encoded = json.dumps(people)
encoded

'{"first": ["Paul", "John", "Richard", "George"], "last": ["McCartney", "Lennon", "Starkey", "Harrison"], "birth": [1942, 1940, 1940, 1943]}'

In [50]:
json.loads(encoded)

{'birth': [1942, 1940, 1940, 1943],
 'first': ['Paul', 'John', 'Richard', 'George'],
 'last': ['McCartney', 'Lennon', 'Starkey', 'Harrison']}

Read the data using the `read_json` function

In [51]:
beatles_js = pd.read_json(encoded)
beatles_js

     first       last  birth
0     Paul  McCartney   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

## Reading HTML tables

In [52]:
url = 'https://en.wikipedia.org/wiki/The_Beatles_discography'
dfs = pd.read_html(url)
len(dfs)

58

Inspect the first DataFrame

In [53]:
dfs[0]

  The Beatles discography            The Beatles discography.1
0     The Beatles in 1965                  The Beatles in 1965
1           Studio albums  13 (core catalogue), 21 (worldwide)
2             Live albums                                    5
3      Compilation albums                                   54
4            Video albums                                   22
5            Music videos                                   68
6                     EPs                                   36
7                 Singles                                   63
8                Mash-ups                                    2
9                Box sets                                   17

In [54]:
dfs = pd.read_html(url, match='List of studio albums', na_values="—")
len(dfs)

1

In [55]:
dfs[0].columns

MultiIndex([(               'Title',          'Title'),
            (       'Album details',  'Album details'),
            ('Peak chart positions',       'UK[6][7]'),
            ('Peak chart positions',         'AUS[8]'),
            ('Peak chart positions',         'CAN[9]'),
            ('Peak chart positions',        'FRA[10]'),
            ('Peak chart positions',        'GER[11]'),
            ('Peak chart positions',        'NOR[12]'),
            ('Peak chart positions',     'US[13][14]'),
            (      'Certifications', 'Certifications')],
           )

In [56]:
dfs = pd.read_html(url, match='List of studio albums', 
                   na_values="—", 
                   header=[0, 1])
len(dfs)

1

In [57]:
dfs[0]

                                                Title  ...                                     Certifications
                                                Title  ...                                     Certifications
0                                    Please Please Me  ...  BPI: Platinum[15] ARIA: Gold[16] MC: Gold[17] ...
1                                 With the Beatles[B]  ...  BPI: Gold[15] ARIA: Gold[16] BVMI: Gold[19] MC...
2                          Introducing... The Beatles  ...                                 RIAA: Platinum[18]
3                                   Meet the Beatles!  ...             MC: Platinum[17] RIAA: 5× Platinum[18]
4                                     Twist and Shout  ...                                MC: 3× Platinum[17]
5                           The Beatles' Second Album  ...             MC: Platinum[17] RIAA: 2× Platinum[18]
6                        The Beatles' Long Tall Sally  ...                                       MC: Gold[17]
7                                  A Hard Day's Night  ...             MC: Platinum[17] RIAA: 4× Platinum[18]
8                                  A Hard Day's Night  ...                   BPI: Platinum[15] ARIA: Gold[16]
9                                       Something New  ...                 MC: Gold[17] RIAA: 2× Platinum[18]
10                                   Beatles for Sale  ...  BPI: Gold[15] ARIA: Gold[16] MC: Gold[17] RIAA...
11                                        Beatles '65  ...             MC: Platinum[17] RIAA: 3× Platinum[18]
12                                         Beatles VI  ...                    MC: Gold[17] RIAA: Platinum[18]
13                                              Help!  ...                   BPI: Platinum[15] ARIA: Gold[16]
14                                              Help!  ...          MC: 2× Platinum[17] RIAA: 3× Platinum[18]
15                                        Rubber Soul  ...  BPI: 2× Platinum[15] ARIA: Platinum[16] BVMI: ...
16                                        Rubber Soul  ...          MC: 2× Platinum[17] RIAA: 6× Platinum[18]
17                                Yesterday and Today  ...             MC: Platinum[17] RIAA: 2× Platinum[18]
18                                           Revolver  ...            BPI: 2× Platinum[15] ARIA: Platinum[16]
19                                           Revolver  ...          MC: 2× Platinum[17] RIAA: 5× Platinum[18]
20              Sgt. Pepper's Lonely Hearts Club Band  ...  BPI: 18× Platinum[15] ARIA: 4× Platinum[16] BV...
21                               Magical Mystery Tour  ...  BPI: Platinum[15] ARIA: Platinum[16] MC: 4× Pl...
22                    The Beatles ("The White Album")  ...  BPI: 2× Platinum[15] ARIA: 2× Platinum[16] MC:...
23                                Yellow Submarine[D]  ...      BPI: Gold[15] MC: Gold[17] RIAA: Platinum[18]
24                                         Abbey Road  ...  BPI: 8× Platinum[15] ARIA: 3× Platinum[16] BVM...
25                                          Let It Be  ...  BPI: Platinum[15] ARIA: Platinum[16] MC: 3× Pl...
26  "—" denotes that the recording did not chart o...  ...  "—" denotes that the recording did not chart o...

[27 rows x 10 columns]

In [58]:
df = dfs[0]
df.columns = [
              "Title",
              "Release",
              "UK",
              "AUS",
              "CAN",
              "FRA",
              "GER",
              "NOR",
              "US",
              "Certifications",
]

df

                                                Title  ...                                     Certifications
0                                    Please Please Me  ...  BPI: Platinum[15] ARIA: Gold[16] MC: Gold[17] ...
1                                 With the Beatles[B]  ...  BPI: Gold[15] ARIA: Gold[16] BVMI: Gold[19] MC...
2                          Introducing... The Beatles  ...                                 RIAA: Platinum[18]
3                                   Meet the Beatles!  ...             MC: Platinum[17] RIAA: 5× Platinum[18]
4                                     Twist and Shout  ...                                MC: 3× Platinum[17]
5                           The Beatles' Second Album  ...             MC: Platinum[17] RIAA: 2× Platinum[18]
6                        The Beatles' Long Tall Sally  ...                                       MC: Gold[17]
7                                  A Hard Day's Night  ...             MC: Platinum[17] RIAA: 4× Platinum[18]
8                                  A Hard Day's Night  ...                   BPI: Platinum[15] ARIA: Gold[16]
9                                       Something New  ...                 MC: Gold[17] RIAA: 2× Platinum[18]
10                                   Beatles for Sale  ...  BPI: Gold[15] ARIA: Gold[16] MC: Gold[17] RIAA...
11                                        Beatles '65  ...             MC: Platinum[17] RIAA: 3× Platinum[18]
12                                         Beatles VI  ...                    MC: Gold[17] RIAA: Platinum[18]
13                                              Help!  ...                   BPI: Platinum[15] ARIA: Gold[16]
14                                              Help!  ...          MC: 2× Platinum[17] RIAA: 3× Platinum[18]
15                                        Rubber Soul  ...  BPI: 2× Platinum[15] ARIA: Platinum[16] BVMI: ...
16                                        Rubber Soul  ...          MC: 2× Platinum[17] RIAA: 6× Platinum[18]
17                                Yesterday and Today  ...             MC: Platinum[17] RIAA: 2× Platinum[18]
18                                           Revolver  ...            BPI: 2× Platinum[15] ARIA: Platinum[16]
19                                           Revolver  ...          MC: 2× Platinum[17] RIAA: 5× Platinum[18]
20              Sgt. Pepper's Lonely Hearts Club Band  ...  BPI: 18× Platinum[15] ARIA: 4× Platinum[16] BV...
21                               Magical Mystery Tour  ...  BPI: Platinum[15] ARIA: Platinum[16] MC: 4× Pl...
22                    The Beatles ("The White Album")  ...  BPI: 2× Platinum[15] ARIA: 2× Platinum[16] MC:...
23                                Yellow Submarine[D]  ...      BPI: Gold[15] MC: Gold[17] RIAA: Platinum[18]
24                                         Abbey Road  ...  BPI: 8× Platinum[15] ARIA: 3× Platinum[16] BVM...
25                                          Let It Be  ...  BPI: Platinum[15] ARIA: Platinum[16] MC: 3× Pl...
26  "—" denotes that the recording did not chart o...  ...  "—" denotes that the recording did not chart o...

[27 rows x 10 columns]

split the release column into two columns, release_
date and label

In [60]:
res = (
    df.pipe(
        lambda df_ : df_[~df_.Title.str.startswith("Released")]
    )
    .assign(
        release_date=lambda df_: pd.to_datetime(
            df_.Release.str.extract(
                r"Released: (.*) Label")[0].str.replace(r"\[E\]", "")
            ),
            label=lambda df_: df_.Release.str.extract(
                r"Label: (.*)"
            ),
        )
    .loc[:,[
            "Title",
            "UK",
            "AUS",
            "CAN",
            "FRA",
            "GER",
            "NOR",
            "US",
            "release_date",
            "label",
    ],]
    )


res

                                                Title  ...                                        label
0                                    Please Please Me  ...                              Parlophone (UK)
1                                 With the Beatles[B]  ...  Parlophone (UK), Capitol (CAN), Odeon (FRA)
2                          Introducing... The Beatles  ...                                 Vee-Jay (US)
3                                   Meet the Beatles!  ...                                 Capitol (US)
4                                     Twist and Shout  ...                                Capitol (CAN)
5                           The Beatles' Second Album  ...                                 Capitol (US)
6                        The Beatles' Long Tall Sally  ...                                Capitol (CAN)
7                                  A Hard Day's Night  ...                    United Artists (US)[C][D]
8                                  A Hard Day's Night  ...                              Parlophone (UK)
9                                       Something New  ...                                 Capitol (US)
10                                   Beatles for Sale  ...                              Parlophone (UK)
11                                        Beatles '65  ...                                 Capitol (US)
12                                         Beatles VI  ...                Parlophone (NZ), Capitol (US)
13                                              Help!  ...                              Parlophone (UK)
14                                              Help!  ...                           Capitol (US)[C][D]
15                                        Rubber Soul  ...                              Parlophone (UK)
16                                        Rubber Soul  ...                              Capitol (US)[C]
17                                Yesterday and Today  ...                                 Capitol (US)
18                                           Revolver  ...                              Parlophone (UK)
19                                           Revolver  ...                              Capitol (US)[C]
20              Sgt. Pepper's Lonely Hearts Club Band  ...                Parlophone (UK), Capitol (US)
21                               Magical Mystery Tour  ...                Parlophone (UK), Capitol (US)
22                    The Beatles ("The White Album")  ...                                        Apple
23                                Yellow Submarine[D]  ...                     Apple (UK), Capitol (US)
24                                         Abbey Road  ...                                        Apple
25                                          Let It Be  ...                                        Apple
26  "—" denotes that the recording did not chart o...  ...                                          NaN

[27 rows x 10 columns]

 Can also use the attrs parameter to select a table from the page

In [61]:
url = 'https://github.com/dajebbar/python-pract/blob/main/work/data_analysis/pandas_cookbook_1.x/data/amzn_stock.csv'
dfs = pd.read_html(url, attrs={"class": "csv-data"})
len(dfs)

1

In [62]:
dfs[0]

      Unnamed: 0        Date     Open     High      Low    Close    Volume
0            NaN  2010-01-04   136.25   136.61   133.14   133.90   7600543
1            NaN  2010-01-05   133.43   135.48   131.81   134.69   8856456
2            NaN  2010-01-06   134.60   134.73   131.65   132.25   7180977
3            NaN  2010-01-07   132.01   132.32   128.80   130.00  11030124
4            NaN  2010-01-08   130.56   133.68   129.03   133.52   9833829
...          ...         ...      ...      ...      ...      ...       ...
1891         NaN  2017-07-11   993.00   995.99   983.72   994.13   2982726
1892         NaN  2017-07-12  1000.65  1008.55   998.10  1006.51   3608574
1893         NaN  2017-07-13  1004.62  1006.88   995.90  1000.63   2880769
1894         NaN  2017-07-14  1002.40  1004.45   996.89  1001.81   2102469
1895         NaN  2017-07-17  1004.69  1014.75  1003.81  1010.04   3668721

[1896 rows x 7 columns]