# Multi-target Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [2]:
from sklearn.datasets import make_regression

x, y = make_regression(
    n_samples=500, n_features=8, n_informative=8, n_targets=3, noise=30.0
)

In [3]:
x.shape, y.shape

((500, 8), (500, 3))

In [4]:
feature_names = [f'Feature # {i}' for i in range(x.shape[1])]

dfx = pd.DataFrame(
    x, columns=feature_names
)

dfx.head(5)

,Feature # 0,Feature # 1,Feature # 2,Feature # 3,Feature # 4,Feature # 5,Feature # 6,Feature # 7
0,0.511110,-1.238440,0.926158,0.837739,-0.069713,-0.466571,0.673847,0.096787
1,-0.101650,0.333000,0.021271,-0.956027,-1.099317,0.497471,-1.226324,1.211072
2,0.322240,0.567546,-0.774132,-1.125328,0.078272,-0.537235,-0.309283,-0.282478
3,-1.205350,-1.055370,0.647800,1.919123,-1.168752,-0.073463,0.067616,2.445373
4,-0.573225,2.139462,2.076481,-0.866694,-1.961697,0.619480,0.754257,-1.855199

In [5]:
target_names = [f'Target # {i}' for i in range(y.shape[1])]

dfy = pd.DataFrame(
    y, columns=target_names
)

dfy.head(5)

   Target # 0  Target # 1  Target # 2
0   78.490009  124.931967  153.523731
1 -130.006436  -65.709570  -47.959996
2  -83.284112 -119.237490 -148.808124
3    5.997546   84.586193  291.334203
4  159.676750   74.142029 -145.348040

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

x_train.shape, y_train.shape, x_test.shape, y_test.shape

((375, 8), (375, 3), (125, 8), (125, 3))

In [7]:
# This code will throw a `ValueError: bad input shape`


# from sklearn.linear_model import SGDRegressor

# rgr = SGDRegressor()
# rgr.fit(x_train, y_train)

# y_pred = rgr.predict(x_test)