---
# Selecting Subsets of Data
---

## Selecting Series data
Series and DataFrames allow selection by position (like Python lists) and by label (like Python
dictionaries). When we index off of the `.iloc` attribute, pandas selects only by position and
works similarly to Python lists. The `.loc` attribute selects only by index label, which is similar
to how Python dictionaries work.

In [1]:
import numpy as np
import pandas as pd

In [2]:
college = pd.read_csv('./college.csv', index_col='INSTNM')
college.columns

Index(['CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

In [3]:
city = college['CITY']
city

INSTNM
Alabama A & M University                                            Normal
University of Alabama at Birmingham                             Birmingham
Amridge University                                              Montgomery
University of Alabama in Huntsville                             Huntsville
Alabama State University                                        Montgomery
                                                                ...
SAE Institute of Technology  San Francisco                      Emeryville
Rasmussen College - Overland Park                            Overland Park
National Personal Training Institute of Cleveland         Highland Heights
Bay Area Medical Academy - San Jose Satellite Location            San Jose
Excel Learning Center-San Antonio South                        San Antonio
Name: CITY, Length: 7535, dtype: object

Pull out a scalar value from the Series directly

In [4]:
city['Amridge University']

'Montgomery'

Pull out a scalar value using the `.loc` attribute by name

In [5]:
city.loc['Amridge University']

'Montgomery'

Pull out a scalar value using the `.iloc` attribute by position:

In [6]:
city.iloc[2]

'Montgomery'

Pull out several values by indexing. Note that if we pass in a list to the index
operation, pandas will now return a Series instead of a scalar

In [10]:
city[['Amridge University', 'University of Alabama in Huntsville', 'Rasmussen College - Overland Park']]

INSTNM
Amridge University                        Montgomery
University of Alabama in Huntsville       Huntsville
Rasmussen College - Overland Park      Overland Park
Name: CITY, dtype: object

Repeat the above using `.loc`

In [11]:
city.loc[['Amridge University', 'University of Alabama in Huntsville', 'Rasmussen College - Overland Park']]

INSTNM
Amridge University                        Montgomery
University of Alabama in Huntsville       Huntsville
Rasmussen College - Overland Park      Overland Park
Name: CITY, dtype: object

Repeat the above using `.iloc`

In [12]:
city.iloc[[2, 4]]

INSTNM
Amridge University          Montgomery
Alabama State University    Montgomery
Name: CITY, dtype: object

Use a slice to pull out many values

In [14]:
city['Alabama State University': 'Auburn University at Montgomery']

INSTNM
Alabama State University                 Montgomery
The University of Alabama                Tuscaloosa
Central Alabama Community College    Alexander City
Athens State University                      Athens
Auburn University at Montgomery          Montgomery
Name: CITY, dtype: object

Use a slice to pull out many values by position:

In [15]:
city.iloc[0: 4]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Name: CITY, dtype: object

Use a Boolean array to pull out certain values

In [17]:
alabama_mask = city.isin(["Birmingham", "Montgomery"])
city[alabama_mask]

INSTNM
University of Alabama at Birmingham                 Birmingham
Amridge University                                  Montgomery
Alabama State University                            Montgomery
Auburn University at Montgomery                     Montgomery
Birmingham Southern College                         Birmingham
South University-Montgomery                         Montgomery
Faulkner University                                 Montgomery
Herzing University-Birmingham                       Birmingham
Huntingdon College                                  Montgomery
Jefferson State Community College                   Birmingham
Lawson State Community College-Birmingham Campus    Birmingham
Samford University                                  Birmingham
Southeastern Bible College                          Birmingham
H Councill Trenholm State Community College         Montgomery
West Virginia University Institute of Technology    Montgomery
Virginia College-Birmingham                         Birmingham
Southeastern School of Cosmetology                  Birmingham
Strayer University-Alabama                          Birmingham
University of Phoenix-Alabama                       Birmingham
Virginia College-Montgomery                         Montgomery
Fortis College-Montgomery                           Montgomery
Fortis Institute-Birmingham                         Birmingham
Hair Academy                                        Montgomery
Brown Mackie College-Birmingham                     Birmingham
Nunation School of Cosmetology                      Birmingham
Troy University-Montgomery Campus                   Montgomery
Name: CITY, dtype: object