---
# Selecting Subsets of Data
---

## Selecting Series data
Series and DataFrames allow selection by position (like Python lists) and by label (like Python
dictionaries). When we index off of the `.iloc` attribute, pandas selects only by position and
works similarly to Python lists. The `.loc` attribute selects only by index label, which is similar
to how Python dictionaries work.

In [1]:
import numpy as np
import pandas as pd

In [2]:
college = pd.read_csv('./college.csv', index_col='INSTNM')
college.columns

Index(['CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

In [3]:
city = college['CITY']
city

INSTNM
Alabama A & M University                                            Normal
University of Alabama at Birmingham                             Birmingham
Amridge University                                              Montgomery
University of Alabama in Huntsville                             Huntsville
Alabama State University                                        Montgomery
                                                                ...
SAE Institute of Technology  San Francisco                      Emeryville
Rasmussen College - Overland Park                            Overland Park
National Personal Training Institute of Cleveland         Highland Heights
Bay Area Medical Academy - San Jose Satellite Location            San Jose
Excel Learning Center-San Antonio South                        San Antonio
Name: CITY, Length: 7535, dtype: object

Pull out a scalar value from the Series directly

In [4]:
city['Amridge University']

'Montgomery'

Pull out a scalar value using the `.loc` attribute by name

In [5]:
city.loc['Amridge University']

'Montgomery'

Pull out a scalar value using the `.iloc` attribute by position:

In [6]:
city.iloc[2]

'Montgomery'

Pull out several values by indexing. Note that if we pass in a list to the index
operation, pandas will now return a Series instead of a scalar

In [10]:
city[['Amridge University', 'University of Alabama in Huntsville', 'Rasmussen College - Overland Park']]

INSTNM
Amridge University                        Montgomery
University of Alabama in Huntsville       Huntsville
Rasmussen College - Overland Park      Overland Park
Name: CITY, dtype: object

Repeat the above using `.loc`

In [11]:
city.loc[['Amridge University', 'University of Alabama in Huntsville', 'Rasmussen College - Overland Park']]

INSTNM
Amridge University                        Montgomery
University of Alabama in Huntsville       Huntsville
Rasmussen College - Overland Park      Overland Park
Name: CITY, dtype: object

Repeat the above using `.iloc`

In [12]:
city.iloc[[2, 4]]

INSTNM
Amridge University          Montgomery
Alabama State University    Montgomery
Name: CITY, dtype: object

Use a slice to pull out many values

In [14]:
city['Alabama State University': 'Auburn University at Montgomery']

INSTNM
Alabama State University                 Montgomery
The University of Alabama                Tuscaloosa
Central Alabama Community College    Alexander City
Athens State University                      Athens
Auburn University at Montgomery          Montgomery
Name: CITY, dtype: object

Use a slice to pull out many values by position:

In [15]:
city.iloc[0: 4]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Name: CITY, dtype: object

Use a Boolean array to pull out certain values

In [17]:
alabama_mask = city.isin(["Birmingham", "Montgomery"])
city[alabama_mask]

INSTNM
University of Alabama at Birmingham                 Birmingham
Amridge University                                  Montgomery
Alabama State University                            Montgomery
Auburn University at Montgomery                     Montgomery
Birmingham Southern College                         Birmingham
South University-Montgomery                         Montgomery
Faulkner University                                 Montgomery
Herzing University-Birmingham                       Birmingham
Huntingdon College                                  Montgomery
Jefferson State Community College                   Birmingham
Lawson State Community College-Birmingham Campus    Birmingham
Samford University                                  Birmingham
Southeastern Bible College                          Birmingham
H Councill Trenholm State Community College         Montgomery
West Virginia University Institute of Technology    Montgomery
Virginia College-Birmingham                         Birmingham
Southeastern School of Cosmetology                  Birmingham
Strayer University-Alabama                          Birmingham
University of Phoenix-Alabama                       Birmingham
Virginia College-Montgomery                         Montgomery
Fortis College-Montgomery                           Montgomery
Fortis Institute-Birmingham                         Birmingham
Hair Academy                                        Montgomery
Brown Mackie College-Birmingham                     Birmingham
Nunation School of Cosmetology                      Birmingham
Troy University-Montgomery Campus                   Montgomery
Name: CITY, dtype: object

## Selecting DataFrame rows
select rows from a DataFrame using the `.iloc` and `.loc`
indexers

To select an entire row at that position, pass an integer to `.iloc`:

In [18]:
college.iloc[60]

CITY                  Anchorage
STABBR                       AK
HBCU                          0
MENONLY                       0
WOMENONLY                     0
RELAFFIL                      0
SATVRMID                    NaN
SATMTMID                    NaN
DISTANCEONLY                  0
UGDS                      12865
UGDS_WHITE               0.5747
UGDS_BLACK               0.0358
UGDS_HISP                0.0761
UGDS_ASIAN               0.0778
UGDS_AIAN                0.0653
UGDS_NHPI                0.0086
UGDS_2MOR                 0.098
UGDS_NRA                 0.0181
UGDS_UNKN                0.0457
PPTUG_EF                 0.4539
CURROPER                      1
PCTPELL                  0.2385
PCTFLOAN                 0.2647
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, dtype: object

To get the same row as the preceding step, pass the index label to `.loc`

In [19]:
college.loc["University of Alaska Anchorage"]

CITY                  Anchorage
STABBR                       AK
HBCU                          0
MENONLY                       0
WOMENONLY                     0
RELAFFIL                      0
SATVRMID                    NaN
SATMTMID                    NaN
DISTANCEONLY                  0
UGDS                      12865
UGDS_WHITE               0.5747
UGDS_BLACK               0.0358
UGDS_HISP                0.0761
UGDS_ASIAN               0.0778
UGDS_AIAN                0.0653
UGDS_NHPI                0.0086
UGDS_2MOR                 0.098
UGDS_NRA                 0.0181
UGDS_UNKN                0.0457
PPTUG_EF                 0.4539
CURROPER                      1
PCTPELL                  0.2385
PCTFLOAN                 0.2647
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, dtype: object

To select a disjointed set of rows as a DataFrame, pass a list of integers to `.iloc`

In [20]:
college.iloc[[60, 99, 3]]

                                            CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                            ...
University of Alaska Anchorage         Anchorage  ...            19449.5
International Academy of Hair Design       Tempe  ...              10556
University of Alabama in Huntsville   Huntsville  ...              24097

[3 rows x 26 columns]

The same DataFrame from step 4 may be reproduced with `.loc` by passing it a list of
the institution names:

In [21]:
labels = ["University of Alaska Anchorage", 
          "International Academy of Hair Design", 
          "University of Alabama in Huntsville",
          ]
college.loc[labels]

                                            CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                            ...
University of Alaska Anchorage         Anchorage  ...            19449.5
International Academy of Hair Design       Tempe  ...              10556
University of Alabama in Huntsville   Huntsville  ...              24097

[3 rows x 26 columns]

Use slice notation with `.iloc` to select contiguous rows of the data:

In [22]:
college.iloc[99:102]

                                         CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                         ...
International Academy of Hair Design    Tempe  ...              10556
GateWay Community College             Phoenix  ...               7283
Mesa Community College                   Mesa  ...               8000

[3 rows x 26 columns]

Slice notation also works with `.loc` and is a closed interval (it includes both the start
label and the stop label)

In [23]:
start = "International Academy of Hair Design"
stop = "Mesa Community College"
college.loc[start:stop]

                                         CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                         ...
International Academy of Hair Design    Tempe  ...              10556
GateWay Community College             Phoenix  ...               7283
Mesa Community College                   Mesa  ...               8000

[3 rows x 26 columns]

In [24]:
college.iloc[[60, 30, -1]].index.to_list()

['University of Alaska Anchorage',
 'Judson College',
 'Excel Learning Center-San Antonio South']

## Selecting DataFrame rows and columns simultaneously
The generic form to select rows and columns:  

`df.iloc[row_idxs, column_idxs]`  
`df.loc[row_names, column_names]`  

Where row_idxs and column_idxs can be scalar integers, lists of integers, or integer
slices. While row_names and column_names can be the scalar names, lists of names,
or names slices, row_names can also be a Boolean array

Select the first three rows and the first four columns with slice notation

In [26]:
college.iloc[:3, :4]

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

Select all the rows of two different columns:

In [27]:
college.loc[:, ['CITY', 'MENONLY']]

                                                                CITY  MENONLY
INSTNM
Alabama A & M University                                      Normal      0.0
University of Alabama at Birmingham                       Birmingham      0.0
Amridge University                                        Montgomery      0.0
University of Alabama in Huntsville                       Huntsville      0.0
Alabama State University                                  Montgomery      0.0
...                                                              ...      ...
SAE Institute of Technology  San Francisco                Emeryville      NaN
Rasmussen College - Overland Park                      Overland Park      NaN
National Personal Training Institute of Cleveland   Highland Heights      NaN
Bay Area Medical Academy - San Jose Satellite L...          San Jose      NaN
Excel Learning Center-San Antonio South                  San Antonio      NaN

[7535 rows x 2 columns]

Select disjointed rows and columns

In [28]:
college.iloc[[1, -1], [0, 4]]

                                                CITY  WOMENONLY
INSTNM
University of Alabama at Birmingham       Birmingham        0.0
Excel Learning Center-San Antonio South  San Antonio        NaN

Select a single scalar value

In [29]:
college.iloc[1, 0]

'Birmingham'

In [30]:
college.loc['University of Alabama at Birmingham', 'CITY']

'Birmingham'

Slice the rows and select a single column:

In [31]:
college.iloc[:2, -1]

INSTNM
Alabama A & M University                 33888
University of Alabama at Birmingham    21941.5
Name: GRAD_DEBT_MDN_SUPP, dtype: object

In [32]:
college.loc[:'University of Alabama at Birmingham', 'GRAD_DEBT_MDN_SUPP']

INSTNM
Alabama A & M University                 33888
University of Alabama at Birmingham    21941.5
Name: GRAD_DEBT_MDN_SUPP, dtype: object

## Selecting data with both integers and labels

Use the Index method `.get_loc` to find the integer position of the desired columns:

In [34]:
col_start = college.columns.get_loc('UGDS_WHITE')
col_end = college.columns.get_loc('UGDS_UNKN') + 1

col_start, col_end

(10, 19)

Use col_start and col_end to select columns by position using `.iloc`

In [35]:
college.iloc[:5, [col_start, col_end]]

                                     UGDS_WHITE  PPTUG_EF
INSTNM
Alabama A & M University                 0.0333    0.0656
University of Alabama at Birmingham      0.5922    0.2607
Amridge University                       0.2990    0.4536
University of Alabama in Huntsville      0.6988    0.2146
Alabama State University                 0.0158    0.0892

In [36]:
college.iloc[:5, col_start: col_end]

                                     UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                           ...
Alabama A & M University                 0.0333  ...     0.0138
University of Alabama at Birmingham      0.5922  ...     0.0100
Amridge University                       0.2990  ...     0.2715
University of Alabama in Huntsville      0.6988  ...     0.0350
Alabama State University                 0.0158  ...     0.0137

[5 rows x 9 columns]

 Get the labels for `.loc`

In [37]:
row_start = college.index[10]
row_end = college.index[15]

college.loc[row_start: row_end, 'UGDS_WHITE':'UGDS_UNKN']

                                          UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                                ...
Birmingham Southern College                   0.7983  ...     0.0051
Chattahoochee Valley Community College        0.4661  ...     0.0139
Concordia College Alabama                     0.0280  ...     0.0000
South University-Montgomery                   0.3046  ...     0.0326
Enterprise State Community College            0.6408  ...     0.0069
James H Faulkner State Community College      0.6979  ...     0.0009

[6 rows x 9 columns]

## Slicing lexicographically
The `.loc` attribute typically selects data based on the exact string label of the index. However, it also allows you to select data based on the lexicographic order of the values in the index.
Specifically, `.loc` allows you to select all rows with an index lexicographically using slice notation. This only works if the index is sorted.

Sort the index

In [38]:
college = college.sort_index()

Select all colleges with names lexicographically between Sp and Su

In [39]:
college.loc['Sp':'Su']

                                                  CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                  ...
Spa Tech Institute-Ipswich                     Ipswich  ...               6333
Spa Tech Institute-Plymouth                   Plymouth  ...               6333
Spa Tech Institute-Westboro                   Westboro  ...               6333
Spa Tech Institute-Westbrook                 Westbrook  ...               6333
Spalding University                         Louisville  ...              25000
...                                                ...  ...                ...
Studio Academy of Beauty                      Chandler  ...               6333
Studio Jewelers                               New York  ...  PrivacySuppressed
Stylemaster College of Hair Design            Longview  ...              13320
Styles and Profiles Beauty College              Selmer  ...  PrivacySuppressed
Styletrends Barber and Hairstyling Academy   Rock Hill  ...             9495.5

[201 rows x 26 columns]

In [40]:
college.loc['D':'T']

                                                         CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                         ...
D & L Academy of Hair Design                       Twin Falls  ...  PrivacySuppressed
D A Dorsey Technical College                            Miami  ...  PrivacySuppressed
D'Jay's School of Beauty Arts and Sciences        Baton Rouge  ...               7327
D'Mart Institute                                 Barranquitas  ...  PrivacySuppressed
D'Youville College                                    Buffalo  ...              25500
...                                                       ...  ...                ...
Swedish Institute a College of Health Sciences       New York  ...              20333
Sweet Briar College                               Sweet Briar  ...              25500
Sylvain Melloul International Hair Academy          Lynchburg  ...              12500
Syracuse City Schools Practical Nursing Program      Syracuse  ...               9500
Syracuse University                                  Syracuse  ...              27000

[4580 rows x 26 columns]

This type of slicing also works when the index is sorted in the opposite direction. You can determine in which direction the index is sorted with the index attribute `.is_monotonic_increasing` or `.is_monotonic_decreasing`. Either of these must be True in order for lexicographic slicing to work. For instance, the following code lexicographically sorts the index from Z to A:

In [42]:
college = college.sort_index(ascending=False)
college.index.is_monotonic_decreasing

True

In [43]:
college.loc['Z': 'V']

                                      CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                      ...
Yukon Beauty College Inc             Yukon  ...  PrivacySuppressed
Yuba College                    Marysville  ...               6000
Youngstown State University     Youngstown  ...              27000
Young Harris College          Young Harris  ...              26000
Yorktowne Business Institute          York  ...              20000
...                                    ...  ...                ...
Valley City State University   Valley City  ...              21550
Valley Beauty School             Cambridge  ...  PrivacySuppressed
Valencia College                   Orlando  ...               9000
Valdosta State University         Valdosta  ...              25247
VICI Aveda Institute            Greenfield  ...              10314

[447 rows x 26 columns]