# Category Encoding

In [1]:
!pip install category_encoders --upgrade --quiet

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
plt.style.use('ggplot')
%matplotlib inline

In [3]:
import category_encoders as ce

In [4]:
df = pd.DataFrame(
    {
        'Size': np.random.choice(['XS', 'S', 'M', 'L', 'XL', 'XXL'], 10),
        'Brand': np.random.choice(['Nike', 'Puma', 'Adidas', 'Le Coq', 'Reebok'], 10),
    }
)

df.head()

  Size   Brand
0    S  Reebok
1    L  Adidas
2    L    Nike
3   XL  Reebok
4   XL  Le Coq