# Imputation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

In [3]:
df = pd.DataFrame(
    data={
        'gender':np.random.binomial(1, .6, 100),
        'height':np.random.normal(0, 10, 100),
        'noise': np.random.normal(0, 2, 100),
    }
)

df.head()

   gender     height     noise
0       0   6.982831 -2.064450
1       0 -14.462370 -3.015762
2       0   6.392121  0.630751
3       1   3.896965  7.523509
4       0   0.933230 -0.486340

In [7]:
df = (
    df.assign(
        height = df.height + df.gender.apply(
            lambda g : 150 if g else 180
        ),
        height_with_75_nan = df.height.apply(
            lambda x : x if np.random.binomial(1, .25, 1)[0] else np.nan
        ),
        
    )
)
df['weight'] = df.height + df.noise - 110
df.sample(8)

    gender      height     noise  height_with_75_nan      weight
60       1  455.612122 -2.955730                 NaN  342.656392
20       0  547.263092 -1.443686                 NaN  435.819406
2        0  546.392121  0.630751                 NaN  437.022872
97       0  522.217264  0.556382          342.217264  412.773646
4        0  540.933230 -0.486340                 NaN  430.446889
43       0  547.718551 -0.559189          367.718551  437.159361
86       1  448.204484 -2.197725                 NaN  336.006759
56       0  528.343171 -1.220210                 NaN  417.122961