# Classifying text using a Naive Bayes classifier

## Loading the data

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

In [1]:
import os

data_dir = f'{os.getcwd()}/data'

if not os.path.exists(data_dir):
  os.mkdir(data_dir)

In [2]:
import requests

url = (
    'https://archive.ics.uci.edu/ml/machine-learning-databases/00331/'
    'sentiment%20labelled%20sentences.zip'
)

response = requests.get(url)

In [3]:
import zipfile
from io import BytesIO

with zipfile.ZipFile(file=BytesIO(response.content), mode='r') as file:
  file.extractall(data_dir)

In [8]:
df_list = []

for csv_file in ['amazon_cells_labelled.txt',
                 'imdb_labelled.txt',
                 'yelp_labelled.txt']:
                 csv_file_with_path = (
                     f'{data_dir}/sentiment labelled sentences/{csv_file}'
                 )
                 temp_df = pd.read_csv(
                     csv_file_with_path,
                     sep='\t',
                     header=0,
                     names=['text', 'sentiment']
                 )
                 df_list.append(temp_df)

df = pd.concat(df_list)

In [9]:
df.head()

                                                text  sentiment
0                        Good case, Excellent value.          1
1                             Great for the jawbone.          1
2  Tied to charger for conversations lasting more...          0
3                                  The mic is great.          1
4  I have to jiggle the plug to get it to line up...          0

In [10]:
df.shape

(2745, 2)