In [1]:
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("fertility_Diagnosis.csv", header=None)
data.head()

      0     1  2  3  4  5    6  7     8  9
0 -0.33  0.69  0  1  1  0  0.8  0  0.88  N
1 -0.33  0.94  1  0  1  0  0.8  1  0.31  O
2 -0.33  0.50  1  0  0  0  1.0 -1  0.50  N
3 -0.33  0.75  0  1  1  0  1.0 -1  0.38  N
4 -0.33  0.67  1  1  0  0  0.8 -1  0.50  O

In [3]:
X, y = data.drop(9, axis=1), data[9]

X.shape, y.shape

((100, 9), (100,))

In [4]:
X.head()

      0     1  2  3  4  5    6  7     8
0 -0.33  0.69  0  1  1  0  0.8  0  0.88
1 -0.33  0.94  1  0  1  0  0.8  1  0.31
2 -0.33  0.50  1  0  0  0  1.0 -1  0.50
3 -0.33  0.75  0  1  1  0  1.0 -1  0.38
4 -0.33  0.67  1  1  0  0  0.8 -1  0.50

In [6]:
model = MLPClassifier(random_state=42, max_iter=1200)
model.fit(X, y)

MLPClassifier(max_iter=1200, random_state=42)

In [7]:
pred = model.predict([[-0.33,0.69,0,1,1,0,0.8,0,0.88]])
print(pred)

['N']

In [8]:
y_pred = model.predict(X)

score = accuracy_score(y, y_pred)
print(score)

0.98