# Exercise 1.02
## Dealing with messy data

*Missing data*

In [1]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt


tips = sns.load_dataset('tips')

In [2]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
size = tips['size'].copy()
size.loc[:15] = np.nan
size.head(20)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    3.0
17    3.0
18    3.0
19    3.0
Name: size, dtype: float64

In [4]:
size.shape

(244,)

In [5]:
size.isna().sum()

16

In [6]:
size.isna().sum() / size.shape[0] * 100

6.557377049180328

In [7]:
mean = round(size.mean())
mean

3

In [8]:
size.fillna(mean, inplace=True)

In [9]:
size.head(20)

0     3.0
1     3.0
2     3.0
3     3.0
4     3.0
5     3.0
6     3.0
7     3.0
8     3.0
9     3.0
10    3.0
11    3.0
12    3.0
13    3.0
14    3.0
15    3.0
16    3.0
17    3.0
18    3.0
19    3.0
Name: size, dtype: float64